@font-face
  font-family: "NeueHaas"
  src : url("~@/assets/fonts/NeueHaasDisplay-Roman.ttf")
  font-weight: 400
  font-style: normal
  font-display: swap

.disable-element
  opacity: 0 !important
  pointer-events: none !important

a
  text-decoration: none

.lazyLoad
  opacity: 0
  transition: 0.3s ease-in-out

.isLoaded
  opacity: 1 !important
  //transition: none

.no-image-transition
  transition: none !important

.order-1-m
  @media all and (max-width: 991px)
    order: 1
.order-2-m
  @media all and (max-width: 991px)
    order: 2
.order-3-m
  @media all and (max-width: 991px)
    order: 3
.order-4-m
  @media all and (max-width: 991px)
    order: 4
.order-5-m
  @media all and (max-width: 991px)
    order: 5
.order-6-m
  @media all and (max-width: 991px)
    order: 6
.order-7-m
  @media all and (max-width: 991px)
    order: 7
.order-8-m
  @media all and (max-width: 991px)
    order: 8
.order-9-m
  @media all and (max-width: 991px)
    order: 9
.order-10-m
  @media all and (max-width: 991px)
    order: 10
.order-11-m
  @media all and (max-width: 991px)
    order: 11
.order-12-m
  @media all and (max-width: 991px)
    order: 12

.for-relative
  position: relative

.font-62-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 62px
  line-height: 56px
  letter-spacing: -2px
  color: #000
  text-transform: uppercase
.font-13-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 20px
  color: #000
  text-transform: uppercase
.font-12-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 20px
  color: #000
  text-transform: uppercase
.font-42-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 42px
  line-height: 36px
  color: #000
  letter-spacing: -0.5px
.font-18-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 1.1
  color: #000
.font-28-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 36px
  color: #000
  text-transform: uppercase
.font-14-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
  color: #000
  text-transform: uppercase
.font-60-roman
  font-family: $fontRegular
  font-style: normal
  font-weight: normal
  font-size: 60px
  line-height: 1.5
  color: #000
  letter-spacing: -1px
