<template>
  <div class="home-hero">
    <div class="container-1140 no-padding">
      <div class="row">
        <h1 class="font-62-roman">hello!!!</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "homeHero"
}
</script>

<style lang="sass">

</style>
